* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
} 
.title {
  text-align: center;
  color: rgb(35, 48, 121);
}

.main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(130, 148, 197);
  background-color: rgb(158, 219, 221);;
}

.input {
  background-color: #d0dcee;
  text-align: center;
}

.hidden {
  display: none;
  
}

.text, .game {
  text-align: center;
  margin: 10px;
}

.clue, .text {
  background-color: #c998b3;
  width: 500px;
}
#button {
  background-color: #c998b3;
  width: 125px;
  font-family: inherit;
}