* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
} 
body {
  background-color: rgb(158, 198, 221);;
  display: flex;
  justify-content: center;
}

button {
color: inherit;
font-family: inherit;
outline: none;
}

.title {
  text-align: center;
  color: rgb(35, 48, 121);
}

.main {
  min-width: 320px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(130, 148, 197);
  background-color: rgb(158, 198, 221);
  padding: 20px;
  }
}

.input {
  background-color: #d0dcee;
  text-align: center;
  width: 30px;
  margin-top: 10px;
}

.instructions {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.text, .game {
  text-align: center;
  margin: 10px;
}

.clue, .text {
  background-color: #d3a1c4;
  min-width: 260px;
}
.button {
  background-color: #ca4d87;
  width: 100px;
  height: 40px;
  font-family: inherit;
  border-radius: 20px;
  color: white;
  border: 3px solid black;
  outline: none;
  margin-top: 10px;

}
button:active, .button:active {
  background-color: #d3a1c4;
}
button:click {
  background-color: #d3a1c4;
}

.reset-button {
  background-color: #ca4d87;
  width: 170px;
  height: 50px;
  font-family: inherit;
  border-radius: 20px;
  color: white;
  font-weight: 800px;
  font-size: 16px;
  border: 3px solid black;
}

.win {
  background-color: #d3a1c4;
  height: 50px;
  z-index: 1;
  top: 110px;
  left: 400px;
  min-width: 320px;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 20px;
  border: 3px solid #270725;
  animation: winner 3s infinite;
  margin: 0;
}

@keyframes winner {
  0% {
    background-color:rgb(247, 164, 233);
  }
  50% {
    background-color: rgb(72, 91, 202);
  }
  100% {
    background-color: rgb(247, 164, 233);
  }
}